
body {
    position: relative;
    background-image: url( "images/bronx-staircase.jpg");
    background-size: cover;
    background-attachment: fixed;
 

}

.wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    align-items: center;
}



#status {
    position: absolute;
    top: 25rem;
		left: 50%;
		transform: translateX(-50%);
    min-width: 400px;
    margin: 0;
		text-align: center;
       display: flex;
    justify-content: space-between;
}
#status2 {
    position: absolute;
    top: 30rem;
		left: 50%;
		transform: translateX(-50%);
    min-width: 400px;
    margin: 0;
		text-align: center;
    display: flex;
    justify-content: space-between;
}

.dice {
    width: 32px;
    float: left;
    background-color: rgb(212, 17, 17);
    border: 3px solid black;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    color: rgb(3, 3, 63);
}

.dice-roll {
    cursor: pointer;
    text-transform: capitalize;
    background-color: rgb(212, 17, 17);
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
}
.resetButton {  
  animation: fade 2S ease forwards;
    position: absolute;
    top: 35rem;
		left: 50%;
		transform: translateX(-30%);
    min-width: 100px;
    margin: 0;
		text-align: center;
    background-color: rgb(212, 17, 17);
    border: 3px solid black;
    font-size: 16px;
    font-weight: 600;
    

}
@keyframes fade{
  from {opacity: 0;
}
to {opacity: 1;}}

.gameName{
  text-align: center;
  text-shadow: 1px 1px 4px red;
  font-size: 5rem;
  
}
h2{
  /* font-family: Jazz LET, fantasy; */
  font-size: 30px;
  text-shadow: 2px 2px 8px red;
 }
 
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {
  body{
    background-size: cover;
background-repeat: no-repeat;
    position: sticky;
    background-attachment: fixed;
   
  }
  .dice-roll{
    padding: 15px;
  }
  h2{
    font-size: 15px
  }
  .gameName{
    font-size: 20px;
  }
  #status{
    width: fit-content;
  }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    body{
      background-size: cover;
  background-repeat: no-repeat;
      position: sticky;
      background-attachment: fixed;
     
    }
    .dice-roll{
      padding: 15px;
    }
    h2{
      font-size: 30px
    }
  

}